.header {
  padding: 3rem;
  text-align: center;
  align-items: center;
}

.icon {
  height: 32px;
}

.content {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.status {
  text-align: center;
}

.statusrow {
  display: flex;
  justify-content: center !important;
}
.statusbox {
  flex: 0 0 25%;
  padding: 2rem;
  border: 1px solid #ccc;
  margin: .5rem;
}
